*{
  box-sizing: border-box;
}

head link {
  display: none;
}

body {
  background-color: rgb(10, 10, 10);
}
  
body div {
  display: flex;
  justify-content: center;
}

body div table {
  display: flex;
  justify-content: center;
}

a {
  margin: 10px 20px;
}



.about h2 {
  margin-top: 50px;
  color: lightblue;   
}

.about p {
  padding: 30px 30px;
  color: darkblue;
  background-color: lightblue;
}

.upload_image {
  margin-top: 50;
  display: block;
  
}

.upload_image h2 {
  display: flex;
  justify-content: center;
  color: lightblue;
}

.link_images {
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.link_images a {
  color: lightblue;
}  

.page_links a{
  color: blue;
}

.enter_text input {
  background-color: white;
}
